/* Ini untuk bagian Fasilitas*/
.top-fasilitas {
   margin-top: 100px;
}
 
.top-fasilitas h1{
   text-align: center;
   line-height: 50px;
}
 
.section-title {
   border-bottom: 2px solid #dee7ec;
   font-size: 28px;
   padding-bottom: 15px;
}

.bottom-fasilitas p{
   font-family: serif;
   text-align: justify;
}
 
.card p {
   width: 100%;
   display: inline-block;
   margin-top: 20px;
   font-size: 20px;
   color: #696969;
}

.card {
   margin: 30px 0;
   padding: 10px;
}

.card h3 {
   padding-bottom: 15px;
   font-size: 22px;
}

.card img {
   width: 100%;
   height: 350px;
   object-fit: cover;
   object-position: center;
}
/* Batas untuk Fasilitas*/
